<h1>Edit Your Listing</h1>

<%= form_for :listing, html: {multipart: true} do |f| %>
  <% if @listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
      <% @listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
  <div class="new-form">
  
  <fieldset class="form-group">
    <%= f.label :price %>
    <%= f.number_field :price, class: 'form-control', placeholder: 'Changes in pricing?' %>
  </fieldset>
  <fieldset class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: 'form-control', placeholder: 'New additions to the premises?' %>
  </fieldset>
  <fieldset class="form-group">
    <% f.file_field :image, class: 'form-control' %>
  </fieldset>
  <%= f.submit "Update listing", class: "btn btn-primary"%>
</form>
<% end %>
</br>
</br>
<%= link_to 'Back', listings_path %>
<%= render 'links' %>
</div>
</div>
 
 